*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --small-size-text: 1.75rem;
  --medium-size-text: 2rem;
  --big-size-text: 2.5rem;
  --board-cell-text: 5rem;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-size: var(--big-size-text);
}
#root {
  height: 100%;
}
p {
  margin: 0;
}

.button {
  border: none;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: var(--small-size-text);
  cursor: pointer;
  box-shadow: 0px 0px 4px -1px black;
  transition: all 0.2s ease 0.03s;
}
.button:not(.easy, .medium, .hard):hover {
  background-color: rgb(20, 75, 240);
  transform: scale(1.03);
}

.home-page-wrapper,
.choose-difficulty-wrapper,
.players-form-wrapper,
.battle-screen-wrapper,
.on-empty-page-wrapper {
  text-align: center;
  padding: 30px 0;
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.on-empty-page {
  font-size: calc(var(--big-size-text) * 1.25);
  opacity: 0.7;
  margin: 0 auto;
}
.error-message-wrapper {
  max-width: 350px;
  margin-top: 20px;
  color: hsla(0, 100%, 50%, 0.7);
}
.error-message-wrapper.dark {
  color: lightcoral;
}
.error-message {
  font-size: var(--big-size-text);
}

.dark {
  background-color: hsl(0, 0%, 30%);
  color: white;
}

@media only screen and (max-width: 425px) {
  .button {
    font-size: calc(var(--small-size-text) * 0.8);
    padding: 7px 15px;
  }

  .home-page-buttons-wrapper {
    flex-direction: column;
  }
  .home-page > p {
    font-size: calc(var(--medium-size-text) * 1.1);
  }

  .on-empty-page {
    font-size: var(--big-size-text);
  }

  .error-message {
    font-size: var(--small-size-text);
  }
}
