:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
}

.header {
  display: flex;
}
.app-icon {
  width: 75px;
}

.dark-mode-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.dark-mode-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1000px) {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
