:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
}

.header {
  display: flex;
}
.app-icon {
  width: 75px;
}

.dark-mode-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.dark-mode-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1000px) {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* CSS for game board */
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

/* CSS for cells */
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #e0e0e0;
}

.cell.clicked {
  cursor: not-allowed;
}
