*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --big-size-text: 2.5rem;
  --board-cell-text: 5rem;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
p {
  margin: 0;
}

.header {
  display: flex;
  background-color: hsl(0, 0%, 90%);
  padding: 0 1rem;
}
.app-icon {
  width: 75px;
}
.dark-mode-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.dark-mode-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.home-page,
.on-empty-page {
  padding-top: 30px;
  min-height: calc(100vh - 75px);
  font-size: var(--big-size-text);
  text-align: center;
}
.home-page > p {
}

.game-screen,
.players-form {
  width: fit-content;
  margin: 0 auto;
}
.players-form {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.players-form > input {
  font-size: 2.5rem;
  width: 400px;
}
.players-form > p {
}

.players-turn,
.winner-text {
  text-align: center;
  margin: 0;
  font-size: var(--big-size-text);
}
.board-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  width: 350px;
  height: 350px;
}
.board-cell-wrapper {
}
.board-cell {
  font-family: inherit;
  border: none;
  background-color: white;
  font-size: var(--board-cell-text);
  user-select: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.hoverable-board-cell:hover {
  background-color: whitesmoke;
  border-radius: 3rem;
  cursor: pointer;
}
.border-top-bottom {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.border-right-left {
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.border-all-around {
  border: 3px solid black;
}

.error-message,
.endgame {
  margin-top: 30px;
}
.endgame-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.endgame-button-wrapper > :first-child,
.button-wrapper > :first-child {
  margin-right: 10px;
}

.error-message {
  font-size: 2.5rem;
  text-align: center;
}

.button {
  border: none;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: calc(var(--big-size-text) * 0.65);
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.25s ease 0.03s;
}
.button:hover {
  background-color: rgb(20, 75, 240);
  transform: scale(1.01);
}

.dark {
  background-color: hsl(0, 0%, 30%);
  color: white;
}
.dark-header {
  background-color: hsl(0, 0%, 70%);
}

@media only screen and (min-width: 1000px) {
}
