.battle-screen {
  width: 350px;
  max-width: 90%;
  margin: 0 auto;
}
.battle-status-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85px;
}
.players-turn {
  overflow-wrap: break-word;
  width: 50%;
  flex-grow: 1000;
}

.battle-screen-top {
  margin: 0 auto;
}
.battle-screen-score-wrapper {
  display: flex;
  margin-bottom: 30px;
}
.battle-screen-score {
  font-size: var(--fs-medium);
}
.player-status-bar {
  width: fit-content;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.players-turn-name {
  word-break: break-all;
}
.dark .player-status-bar {
  color: rgba(255, 255, 255, 0.5);
}
.player-status-bar.active {
  color: black;
}
.dark .player-status-bar.active {
  color: white;
}
.player-status-bar > p {
  margin-left: 20px;
}
.player-dot {
  border-radius: 50%;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 10px;
  position: absolute;
  top: calc(50% - 2px);
}
.player-dot.active {
  background-color: red;
  box-shadow: 0 0 7px 1px red;
}
.dark .player-dot.active {
  box-shadow: 0 0 10px 1px red, 0 0 10px 1px red, 0 0 10px 1px red;
}

.computer-is-thinking-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thinking-small {
  display: none;
}
.board-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  width: 350px;
  height: 350px;
}
.board-cell {
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: var(--fs-huge);
  user-select: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.dark .board-cell-wrapper {
  border-color: white;
}
.hoverable-board-cell {
  cursor: pointer;
  opacity: 0.5;
}
.border-top-bottom {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.border-right-left {
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.border-all-around {
  border: 3px solid black;
}

.player-winner-text {
  margin: 30px 0;
  word-break: break-all;
}
.endgame {
  margin-top: 30px;
}
.endgame-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 425px) {
  .battle-screen {
    width: 300px;
  }
  .battle-status-bar {
    min-height: 75px;
  }
  .thinking-large {
    display: none;
  }
  .thinking-small {
    display: block;
  }
  .board-container {
    width: 300px;
    height: 300px;
  }
}
