.battle-screen {
  width: fit-content;
  max-width: 90%;
  margin: 0 auto;
}
.battle-status-bar {
  display: flex;
  align-items: center;
}

.computer-is-thinking-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thinking-small {
  display: none;
}
.board-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  width: 350px;
  height: 350px;
}
.board-cell {
  font-family: inherit;
  border: none;
  background-color: white;
  font-size: var(--fs-huge);
  user-select: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.board-cell-wrapper.dark {
  border-color: white;
}
.hoverable-board-cell {
  cursor: pointer;
  opacity: 0.5;
}
.border-top-bottom {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.border-right-left {
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.border-all-around {
  border: 3px solid black;
}

.endgame {
  margin-top: 30px;
}
.endgame-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 425px) {
  .battle-status-bar > :first-child {
    word-break: break-all;
  }
  .players-turn,
  .winner-text,
  .thinking-small {
  }
  .thinking-large {
    display: none;
  }
  .thinking-small {
    display: block;
  }
  .board-container {
    width: 300px;
    height: 300px;
  }
}
