.header {
  display: flex;
  background-color: var(--bg-gray-slightly-light);
  padding-left: 1rem;
}
.icon-and-title-wrapper {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  color: black;
}
.icon-and-title-wrapper > h1 {
  font-weight: 400;
  font-size: var(--fs-large);
  margin: 0;
  align-self: center;
}
.app-icon {
  width: 75px;
}

.header-buttons-wrapper {
  display: flex;
  flex-grow: 1;
}
.undo-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.back-button,
.undo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: var(--fs-very-small);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  height: fit-content;
  background-color: var(--bg-gray-slightly-light);
  cursor: pointer;
  align-self: center;
  margin-left: 10px;
  transition: all 0.2s ease 0.03s;
}
.back-button:hover {
  background-color: var(--bg-gray-slightly-dark);
}
.undo-button {
  margin-left: 0;
  padding: 0 1rem;
  height: 100%;
  background-color: white;
  transition: none;
}
.dark .undo-button {
  color: white;
  background-color: var(--bg-gray-very-dark);
}
.undo-button:hover {
  background-color: var(--bg-gray-slightly-light);
}
.dark .undo-button:hover,
.dark .undo-button:hover > .undo-button-arrow,
.dark .undo-button:hover > .undo-button-text {
  background-color: var(--bg-gray-slightly-dark);
}
.back-button-arrow,
.undo-button-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3.5px;
  position: relative;
  bottom: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}
.dark .undo-button-arrow {
  border-color: white;
}
.back-button-text,
.undo-button-text {
  margin: 0 5px;
}
.dark-mode-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.dark-mode-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.hamburger-menu-wrapper {
  position: relative;
  z-index: 2;
  height: 75px;
  width: 75px;
  display: none;
  cursor: pointer;
}
.hamburger-menu-wrapper.hamburger-open {
  background-color: hsl(0, 0%, 75%);
}
.hamburger-menu,
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  display: block;
  background-color: white;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 5rem;
}
.hamburger-menu:before {
  transform: translateY(10px);
}
.hamburger-menu:after {
  transform: translateY(-14px);
}
.hamburger-open .hamburger-menu {
  display: none;
}
.X-close-button::before,
.X-close-button::after {
  content: "";
  background-color: white;
  position: relative;
  height: 30px;
  width: 5px;
  border-radius: 5rem;
}
.X-close-button::before {
  transform: rotate(45deg) translateX(3px);
}
.X-close-button::after {
  transform: rotate(135deg) translateX(3px);
}

.modal-cover {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: 525px) {
  .app-icon {
    width: 65px;
    height: 65px;
    align-self: center;
  }
  .hamburger-menu-content {
    width: fit-content;
    display: none;
    position: absolute;
    box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 75px;
    right: 0;
    z-index: 2;
    border-radius: 2px;
  }
  .hamburger-menu-content > * {
    height: 4rem;
    border-radius: 0;
    width: 100%;
    margin-left: 0;
    background-color: var(--bg-gray-slightly-light);
    justify-content: center;
  }
  .hamburger-menu-content.hamburger-open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hamburger-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
