.header {
  display: flex;
  background-color: var(--bg-gray-slightly-light);
  padding-left: 1rem;
  align-items: center;
}
.header-left {
  display: flex;
  cursor: pointer;
  color: black;
}
.header-icon {
  width: 75px;
}
.header-title {
  font-weight: 400;
  font-size: var(--fs-large);
  margin: 0;
  align-self: center;
}

.back-button,
.undo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: var(--fs-very-small);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  height: fit-content;
  background-color: var(--bg-gray-slightly-light);
  cursor: pointer;
  align-self: center;
  margin-left: 10px;
  transition: background-color 0.2s ease 0.03s;
}
.back-button:hover {
  background-color: var(--bg-gray-slightly-dark);
}
.back-button-arrow,
.undo-button-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3.5px;
  position: relative;
  bottom: 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}
.back-button-text,
.undo-button-text {
  margin: 0 5px;
}

.undo-button-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.undo-button {
  margin-top: auto;
  background-color: white;
}
.dark .undo-button {
  color: white;
  background-color: var(--bg-gray-very-dark);
}
.undo-button:hover {
  background-color: var(--bg-gray-light);
}
.dark .undo-button:hover {
  background-color: var(--bg-gray-slightly-dark);
  transition: none;
}
.undo-button:disabled:hover {
  background-color: hsl(0, 0%, 90%);
}
.dark .undo-button:disabled:hover {
  background-color: rgba(16, 16, 16, 0.3);
}
.dark .undo-button-arrow {
  border-color: white;
}
.undo-button:disabled .undo-button-arrow {
  border-color: rgba(16, 16, 16, 0.3);
}
.dark .undo-button:disabled .undo-button-arrow {
  border-color: rgba(255, 255, 255, 0.5);
}
.dark .undo-button:disabled .undo-button-text {
  color: rgba(255, 255, 255, 0.5);
}

.dark-mode-button-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-gray-slightly-light);
}
.dark-mode-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.hamburger-menu-wrapper {
  flex-grow: 1;
}
.hamburger-menu {
  display: flex;
}
.hamburger-icon-wrapper {
  display: none;
  transition: var(--transition-ease);
}
.hamburger-icon-wrapper:hover {
  background-color: hsl(0, 0%, 75%);
}
.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 30px;
  transition: all 0.5s ease;
  border-radius: 20px;
}
.hamburger-icon:before {
  top: -10px;
}
.hamburger-icon:after {
  top: 10px;
}
.open .hamburger-icon {
  transition: none;
  background-color: transparent;
}
.open .hamburger-icon::before {
  transform: rotateZ(45deg) translate(7px, 7px);
}
.open .hamburger-icon::after {
  transform: rotateZ(-45deg) translate(7px, -7px);
}

.open .screen-cover {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: 380px) {
  .header-title {
    display: none;
  }
}

@media only screen and (max-width: 525px) {
  .header-icon {
    width: 65px;
  }

  .dark-mode-button-wrapper {
    justify-content: center;
  }

  .hamburger-menu-wrapper {
    width: 125px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 65px;
    transition: height 0.3s ease;
  }
  .hamburger-menu-wrapper.open {
    transition: height 0.5s ease;
    height: 200px;
  }
  .hamburger-menu {
    width: 125px;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 2;
    box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .open .hamburger-menu {
    opacity: 1;
  }
  .hamburger-menu > * {
    height: 4rem;
    border-radius: 0;
    width: 100%;
    margin-left: 0;
  }
  .hamburger-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: 2;
    height: 65px;
    width: 65px;
    cursor: pointer;
  }
  .open .hamburger-icon-wrapper {
    background-color: hsl(0, 0%, 75%);
  }
}
