*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --fs-very-small: 1.4rem;
  --fs-small: 1.75rem;
  --fs-medium: 2rem;
  --fs-large: 2.25rem;
  --fs-big: 2.75rem;
  --fs-huge: 5rem;

  --bg-gray-light: hsl(0, 0%, 85%);
  --bg-gray-slightly-light: hsl(0, 0%, 70%);
  --bg-gray-slightly-dark: hsl(0, 0%, 60%);
  --bg-gray-dark: hsl(0, 0%, 40%);
  --bg-gray-very-dark: hsl(0, 0%, 30%);

  --btn-light-blue: hsl(225, 73%, 57%);
  --btn-dark-blue: hsl(225, 88%, 51%);
}
body {
  margin: 0;
  font-size: var(--fs-large);
  text-align: center;
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
#root {
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input:-webkit-autofill:active {
  font-size: var(--fs-medium);
  transition: background-color 5000s ease-in-out 0s;
}
input::placeholder {
  user-select: none;
}
p {
  margin: 0;
}

.button {
  border: none;
  background-color: var(--btn-light-blue);
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: var(--fs-small);
  cursor: pointer;
  box-shadow: 0px 0px 4px -1px black;
  transition: all 0.2s ease 0.03s;
}
.button:not(.easy, .medium, .hard):hover {
  background-color: var(--btn-dark-blue);
  transform: scale(1.03);
}

.home-page-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.not-found {
  font-size: var(--fs-big);
  opacity: 0.7;
  margin-top: 30px;
}
.error-message {
  color: hsl(350, 100%, 60%);
  margin: 30px auto 0;
  font-weight: 600;
  max-width: 350px;
}
.error-message.dark {
  color: hsl(350, 100%, 70%);
}

.dark {
  background-color: var(--bg-gray-very-dark);
  color: white;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle-loader-wrapper {
  --checkmark-height: 18px;
  --checkmark-width: calc(var(--checkmark-height) / 2);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.circle-loader {
  position: relative;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  animation: loader-spin 1.5s linear infinite;
}
.dark .circle-loader {
  border-color: white;
  border-left-color: rgba(0, 0, 0, 0.5);
}
.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 3px;
}
.dark .load-complete {
  border-left-color: white;
}

.checkmark::after {
  position: absolute;
  content: "";
  height: var(--checkmark-height);
  width: var(--checkmark-width);
  left: 3px;
  top: 15px;
  opacity: 1;
  border-right: 3px solid green;
  border-top: 3px solid green;
  animation: checkmark 0.3s ease;
  transform-origin: left top;
  transform: scaleX(-1) rotate(135deg);
}
.dark .checkmark::after {
  border-color: greenyellow;
}
.red {
  color: red;
}
.dark .red {
  color: red;
}
.green {
  color: green;
}
.dark .green {
  color: lightgreen;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: var(--checkmark-width);
    opacity: 1;
  }
  100% {
    height: var(--checkmark-height);
    width: var(--checkmark-width);
    opacity: 1;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --fs-small: 1.4rem;
    --fs-medium: 1.75rem;
    --fs-large: 2rem;
    --fs-big: 2.25rem;
    --fs-huge: 4.25rem;
  }
  .button {
    padding: 7px 15px;
  }
  .home-page-buttons-wrapper {
    flex-direction: column;
  }
}
